<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>

  <connectionStrings>

    <!-- KStar Internal Connection Settings -->
    <add name="aZaaSKStar" providerName="System.Data.SqlClient" connectionString="Data Source=127.0.0.1;Initial Catalog=aZaaS.KStar;Persist Security Info=True;User ID=sa;Password=K2pass!;" />
    <add name="K2DB" providerName="System.Data.SqlClient" connectionString="Data Source=127.0.0.1;Initial Catalog=K2SQLUM;Persist Security Info=True;User ID=sa;Password=K2pass!;" />
    <add name="KSTARService" providerName="System.Data.SqlClient" connectionString="Data Source=127.0.0.1;Initial Catalog=KSTARService;Persist Security Info=True;User ID=sa;Password=K2pass!;" />
    <add name="aZaaSFramework" providerName="System.Data.SqlClient" connectionString="Data Source=127.0.0.1;Initial Catalog=aZaaS.Framework;Persist Security Info=True;User ID=sa;Password=K2pass!;" />

    <!-- Your Connection Settings -->

  </connectionStrings>

  <appSettings>
    
    <!-- FMC LDAP Settings -->
    <add key="RootDC" value="DC=DENALLIX,DC=COM" />
    <add key="LDAPServer" value="127.0.0.1" />
    <add key="LDAPNamingContext" value="DC=DENALLIX,DC=COM" />
    <add key="LDAPPort" value="3268" />
    <add key="LDAPUser" value="Administrator" />
    <add key="LDAPPassword" value="K2pass!" />
    <add key="DCtoDNMap" value="HK=FMCHK,AU=FMC-AU,JP=FMC-JP,KR=FMC-KR,MY=FMC-MY,TW=FMC-TW" />
    <add key="ExcludeDNs" value="FKTH" />
    <add key="LogFilePath" value="C:\Log" />
    <add key="LogFileNamePrefix" value="FMCSyncLog" />
    <!-- Framework Connection Setting -->
    <add key="ConnectionString" value="Data Source=127.0.0.1;Initial Catalog=aZaaS.Framework;Persist Security Info=True;User ID=sa;Password=K2pass!;" />

    <!-- KStar Workflow Engine & Server Settings -->
    <add key="ServerName" value="DLX" />
    <add key="WindowDomain" value="DENALLIX" />
    <add key="ClientPort" value="5252" />
    <add key="ServerPort" value="5555" />
    <add key="LoginUser" value="Administrator" />
    <add key="LoginPassword" value="K2pass!" />
    <add key="SecurityLabelName" value="K2" />

  </appSettings>

  <!-- Autofac Components & Services Registration  Setting -->
  <autofac>
    <components />
    <modules />
  </autofac>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
