@using aZaaS.KStar.Html;
<div style="height: 600px;">
    <div id="DelegateTab" style="position: relative; height: 100%;">
        <div class="top-toolbar">
        </div>

        <div id="DelegateList"></div>
        <div class="operabar">
            <div class="operamask"></div>
            <button id="Delegate_Save" class="k-button operacontent" style="width: 80px; text-align: center; display: block;">@Html.CSHtmlResx("Save")</button>
            <div class="tips" style="color: green; text-align: center; visibility: hidden; display: block;">@Html.CSHtmlResx("Savedsuccessfully")</div>
        </div>
    </div>

</div>
