<?xml version="1.0" encoding="utf-8" ?>
<Queries>

  <!-- aZaaS.Framework.Workflow->WorkflowClientService  -->
  <Query Key="Framework_WorkflowService_GetMyStartedProcessInstances">
    <![CDATA[
      select * from 
       (select row_number()over(order by {3})rownumber,
            pit.ID as Procinstid ,
            wl.Destination as PrevApprovers,
           ( SELECT  TOP 1 Act.Name as ActName 
             FROM [#K2ServerLog#].[ServerLog].[ActInst] AS ActInst
             INNER JOIN [#K2ServerLog#].[ServerLog].[Act] As Act
             ON ActInst.ActID = Act.ID
             WHERE   [ProcInstID] =pit.ID
             ORDER BY [StartDate] DESC ) AS [ActivityName], --ActivityName
           pit.[Priority], pit.[Status], pit.StartDate ,pit.FinishDate, pit.Originator , pit.Folio, ps.FullName,cps.ProcessName, cps.ViewUrl

           from [#K2ServerLog#].[ServerLog].[procinst] pit
           inner join [#K2ServerLog#].[ServerLog].[Proc] pc
                on pit.ProcID = pc.id
           inner join [#K2ServerLog#].[ServerLog].[ProcSet] ps
                on pc.ProcSetID = ps.ID
           inner join dbo.Configuration_ProcessSet cps
                on ps.ID = cps.ProcessSetID
          left join (SELECT ProcInstID, Destination=STUFF((SELECT ','+Destination 
						FROM [#K2ServerLog#].[ServerLog].[WorkList]  t WHERE t.Status=0 and ProcInstID=[#K2ServerLog#].[ServerLog].[WorkList].ProcInstID FOR XML PATH('')), 1, 1, '')
						FROM [#K2ServerLog#].[ServerLog].[WorkList] where  [Status]=0
						GROUP BY ProcInstID) wl
								on pit.ID=wl.ProcInstID
               where pit.Originator = '{0}' 
               {1}    
           )a
   {2}    
   ;select COUNT(1) Total 
           from [#K2ServerLog#].[ServerLog].[procinst] pit
           inner join [#K2ServerLog#].[ServerLog].[Proc] pc
                on pit.ProcID = pc.id
           inner join [#K2ServerLog#].[ServerLog].[ProcSet] ps
                on pc.ProcSetID = ps.ID
           inner join dbo.Configuration_ProcessSet cps
                on ps.ID = cps.ProcessSetID
               where pit.Originator = '{0}' 
               {1}    
                                                    
    ]]>
  </Query>
  <Query Key="Framework_WorkflowService_GetMyParticipatedProcessInstances">
    <![CDATA[
    select * from 
       (select row_number()over(order by {3})rownumber,
            pit.ID as Procinstid ,
            wl.Destination as PrevApprovers,
           ( SELECT  TOP 1 Act.Name as ActName 
             FROM [#K2ServerLog#].[ServerLog].[ActInst] AS ActInst
             INNER JOIN [#K2ServerLog#].[ServerLog].[Act] As Act
             ON ActInst.ActID = Act.ID
             WHERE   [ProcInstID] =pit.ID
             ORDER BY [FinishDate] DESC ) AS [ActivityName], --ActivityName
           pit.[Priority], pit.[Status], pit.StartDate ,pit.FinishDate, pit.Originator , pit.Folio, ps.FullName,cps.ProcessName, cps.ViewUrl

           from [#K2ServerLog#].[ServerLog].[procinst] pit
           inner join [#K2ServerLog#].[ServerLog].[Proc] pc
                on pit.ProcID = pc.id
           inner join [#K2ServerLog#].[ServerLog].[ProcSet] ps
                on pc.ProcSetID = ps.ID
           inner join dbo.Configuration_ProcessSet cps
                on ps.ID = cps.ProcessSetID
           left join (SELECT ProcInstID, Destination=STUFF((SELECT ','+Destination 
						FROM [#K2ServerLog#].[ServerLog].[WorkList]  t WHERE t.Status=0 and ProcInstID=[#K2ServerLog#].[ServerLog].[WorkList].ProcInstID FOR XML PATH('')), 1, 1, '')
						FROM [#K2ServerLog#].[ServerLog].[WorkList] where  [Status]=0
						GROUP BY ProcInstID) wl
								on pit.ID=wl.ProcInstID
                where pit.id in ( 
                 select procinstid from [#K2ServerLog#].[ServerLog] .[ActInstSlot]
                 where [user] = '{0}' ) 
               {1}
         )a
   {2}    
   ;select COUNT(1) Total 
           from [#K2ServerLog#].[ServerLog].[procinst] pit
           inner join [#K2ServerLog#].[ServerLog].[Proc] pc
                on pit.ProcID = pc.id
           inner join [#K2ServerLog#].[ServerLog].[ProcSet] ps
                on pc.ProcSetID = ps.ID
           inner join dbo.Configuration_ProcessSet cps
                on ps.ID = cps.ProcessSetID
                where pit.id in ( 
                 select procinstid from [#K2ServerLog#].[ServerLog] .[ActInstSlot]
                 where [user] = '{0}' ) 
               {1}   
    ]]>
  </Query>
  <Query Key="Framework_WorkflowService_GetMyParticipatedProcessInstances_Actions">
    <![CDATA[
    select * from 
       (select row_number()over(order by {4})rownumber,
            pit.ID as Procinstid ,
           ( SELECT  TOP 1 Act.Name as ActName 
             FROM [#K2ServerLog#].[ServerLog].[ActInst] AS ActInst
             INNER JOIN [#K2ServerLog#].[ServerLog].[Act] As Act
             ON ActInst.ActID = Act.ID
             WHERE   [ProcInstID] =pit.ID
             ORDER BY [StartDate] DESC ) AS [ActivityName], --ActivityName
           pit.[Priority], pit.[Status], pit.StartDate ,pit.FinishDate, pit.Originator , pit.Folio, ps.FullName,cps.ProcessName, cps.ViewUrl

           from [#K2ServerLog#].[ServerLog].[procinst] pit
           inner join [#K2ServerLog#].[ServerLog].[Proc] pc
                on pit.ProcID = pc.id
           inner join [#K2ServerLog#].[ServerLog].[ProcSet] ps
                on pc.ProcSetID = ps.ID
           inner join dbo.Configuration_ProcessSet cps
                on ps.ID = cps.ProcessSetID
                where (pit.id in ( 
                 select procinstid from [#K2ServerLog#].[ServerLog] .[ActInstSlot]
                 where [user] = '{0}' ) {1} ) 
               {2}
         )a
   {3}    
   ;select COUNT(1) Total 
           from [#K2ServerLog#].[ServerLog].[procinst] pit
           inner join [#K2ServerLog#].[ServerLog].[Proc] pc
                on pit.ProcID = pc.id
           inner join [#K2ServerLog#].[ServerLog].[ProcSet] ps
                on pc.ProcSetID = ps.ID
           inner join dbo.Configuration_ProcessSet cps
                on ps.ID = cps.ProcessSetID
                where (pit.id in ( 
                 select procinstid from [#K2ServerLog#].[ServerLog] .[ActInstSlot]
                 where [user] = '{0}' ) {1} ) 
               {2}       
    ]]>
  </Query>
  <Query Key="Framework_WorkflowService_GetInsteadMyStartedProcessInstances">
    <![CDATA[
  select * from 
             (select row_number()over(order by {4})rownumber,
                  pit.ID as Procinstid ,pfh.SubmitterAccount,pfh.SubmitterDisplayName,
                 ( SELECT  TOP 1 Act.Name as ActName 
                   FROM [#K2ServerLog#].[ServerLog].[ActInst] AS ActInst
                   INNER JOIN [#K2ServerLog#].[ServerLog].[Act] As Act
                   ON ActInst.ActID = Act.ID
                   WHERE   [ProcInstID] =pit.ID
                   ORDER BY [StartDate] DESC ) AS [ActivityName], --ActivityName
                 pit.[Priority], pit.[Status], pit.StartDate ,pit.FinishDate, pit.Originator , pit.Folio, ps.FullName,cps.ProcessName, cps.ViewUrl
                 from [aZaaS.Framework].[dbo].[ProcessFormHeader] pfh
 inner join [#K2ServerLog#].[ServerLog].[procinst] pit
      on '{0}:'+pfh.SubmitterAccount COLLATE Chinese_PRC_CI_AS = pit.Originator
    and pfh.ProcInstId=pit.ID
                      and pfh.IsDraft=0
                 inner join [#K2ServerLog#].[ServerLog].[Proc] pc
                      on pit.ProcID = pc.id
                 inner join [#K2ServerLog#].[ServerLog].[ProcSet] ps
                      on pc.ProcSetID = ps.ID
                 inner join dbo.Configuration_ProcessSet cps
                      on ps.ID = cps.ProcessSetID
                     where pfh.ApplicantAccount = '{1}' 
   and pfh.SubmitterAccount!='{1}'
                     {2}    
                 )a
         {3}    
         ;select COUNT(1) Total 
                 from [aZaaS.Framework].[dbo].[ProcessFormHeader] pfh
 inner join [#K2ServerLog#].[ServerLog].[procinst] pit
 on '{0}:'+pfh.SubmitterAccount COLLATE Chinese_PRC_CI_AS =pit.Originator
    and pfh.ProcInstId=pit.ID
                      and pfh.IsDraft=0
                 inner join [#K2ServerLog#].[ServerLog].[Proc] pc
                      on pit.ProcID = pc.id
                 inner join [#K2ServerLog#].[ServerLog].[ProcSet] ps
                      on pc.ProcSetID = ps.ID
                 inner join dbo.Configuration_ProcessSet cps
                      on ps.ID = cps.ProcessSetID
                     where pfh.ApplicantAccount = '{1}' 
   and pfh.SubmitterAccount!='{1}'
                     {2}          
    
    ]]>
  </Query>
  <Query Key="Framework_WorkflowService_GetWorklistPendingApprover">
    <![CDATA[
    SELECT [Worklist].[ProcInstID]
         ,[ActInst].[ActivityName]
         ,[Worklist].[ActInstDestID]
         ,[Destination]
         ,[DestType]
         ,[StartDate]
         ,[EndDate]
         ,[Status]
     FROM [#K2ServerLog#].[ServerLog].[Worklist]  
     INNER JOIN (SELECT 
		        [ActInstDest].[ProcInstID] AS [ProcInstID] , 
		        [ActInstDest].[ID] AS [ActInstDestID],
		        [Act].[Name] AS [ActivityName]
		        FROM 
		        [#K2ServerLog#].[ServerLog].[ActInstDest] 
		        INNER JOIN [#K2ServerLog#].[ServerLog].[ActInst] 
		        ON [ActInstDest].ActInstID = [ActInst].ID AND [ActInstDest].[ProcInstID] = [ActInst].[ProcInstID]
		        INNER JOIN [#K2ServerLog#].[ServerLog].[Act] ON [ActInst].ActID = [Act].ID  ) AS [ActInst] 
   ON [Worklist].[ActInstDestID] = [ActInst].[ActInstDestID] AND [Worklist].[ProcInstID] = [ActInst].[ProcInstID]
   WHERE [Worklist].ProcInstID ={0} 
    ]]>
  </Query>

  <Query Key="Framework_WorkflowService_GetCurrentProcInstDestinationBy">
    <![CDATA[
      	SELECT Destination=STUFF((SELECT ','+Destination 
						FROM [#K2ServerLog#].[ServerLog].[WorkList]  t WHERE t.Status=0 and ProcInstID=[#K2ServerLog#].[ServerLog].[WorkList].ProcInstID FOR XML PATH('')), 1, 1, '')
						FROM [#K2ServerLog#].[ServerLog].[WorkList] where  [Status]=0 and ProcInstID={0}
					 
		]]>
  </Query>


  <!-- ./aZaaS.Framework.Workflow->WorkflowClientService  -->

  <!-- ZaaS.KStar->WorkflowConfiguration -->
  <Query Key="SQL_ConfigManager_GetProcessActivities">
    <![CDATA[
    select [ID],[Name] from [#K2ServerLog#].[ServerLog].[Act] where [ProcID]= {0}
    ]]>
  </Query>
  <Query Key="SQL_ConfigManager_GetActivityIdFromServer">
    <![CDATA[
    SELECT [ID] FROM [#K2Server#].[Server].[Act]  WHERE [ProcID] = {0} AND [Name] = N'{1}' 
    ]]>
  </Query>
  <Query Key="SQL_ConfigManager_GetReworkActivityListByActId">
    <![CDATA[
    select [ID],[Name] from [#K2ServerLog#].[ServerLog].[Act] where [ID] in ({0})
    ]]>
  </Query>
  <Query Key="SQL_ConfigManager_GetActivityInfo">
    <![CDATA[
    SELECT 
     [Act].[ID] AS ActID,[Act].Name AS [ActName]
     FROM [#K2Server#].[Server].[Act] AS [Act] --节点表
     LEFT JOIN [#K2ServerLog#].[ServerLog].[ProcInst] AS [ProcInst] --流程实例表
     ON [Act].ProcID = [ProcInst].ProcID
     Where [ProcInst].ID = {0} AND [Act].Name = N'{1}'
    ]]>
  </Query>
  <Query Key="SQL_ConfigManager_GetCurrActivityInfo">
    <![CDATA[
    SELECT  TOP 1 Act.ID AS ActID,Act.Name as ActName
                                  FROM [#K2ServerLog#].[ServerLog].[ActInst] AS ActInst
                                  INNER JOIN [#K2ServerLog#].[ServerLog].[Act] As Act
                                  ON ActInst.ActID = Act.ID
                                  WHERE   [ProcInstID] ={0}
                                  ORDER BY [FinishDate] DESC
    ]]>
  </Query> 

	<Query Key="SQL_ConfigManager_GetLinkActivityNameRule">
		<![CDATA[
						 SELECT a.Name FROM(
														SELECT  Name as LineName,FinishID,StartID FROM  [#K2ServerLog#].[ServerLog].[Line] WHERE
														ProcID IN (SELECT [ProcVerID] FROM [#K2ServerLog#].[ServerLog].[ProcSet] where ID={0})
														AND [StartID]={1} and Lbl!=N'{2}'
														)  as Line left join [#K2ServerLog#].[ServerLog].[Act] as a on a.ID=Line.FinishID
														
		]]>
	</Query>

  <Query Key="SQL_ConfigManager_GetLinkActivityNames">
    <![CDATA[
						 SELECT a.Name,a.ID as ActID,LineName FROM(
														SELECT  Name  as LineName,FinishID,StartID FROM  [#K2ServerLog#].[ServerLog].[Line] WHERE
														ProcID ={0}
														AND [StartID]={1} and Lbl!=N'{2}'
														)  as Line left join [#K2ServerLog#].[ServerLog].[Act] as a on a.ID=Line.FinishID
														
		]]>
  </Query>

	<Query Key="SQL_ConfigManager_GetLineRule">
		<![CDATA[ 
			  select a.Name from
			                [#K2ServerLog#].[ServerLog].[ProcInst] as pt
				  left join [#K2ServerLog#].[ServerLog].[Line]  as l on  pt.ProcID=l.ProcID
		     	  left join 
						    [#K2ServerLog#].[ServerLog].[Act] as a on a.ID= l.FinishID 
			  where  pt.ID={0} and l.Name=N'{1}'
														
		]]>
	</Query>

  <Query Key="SQL_ConfigManager_GetProcInstStateDesc">
    <![CDATA[  
         SELECT DISTINCT w.ProcInstID,p.Status, a.Name,p.ProcID,a.ID as ActID,ps.FullName,ps.ID as ProcSetID, CPS.LoopRemark
                           FROM [#K2ServerLog#].[ServerLog].[ProcInst]  as p 
				      Left join [#K2ServerLog#].[ServerLog].[Proc] as pc on  p.ProcID=pc.ID
				      left join [#K2ServerLog#].[ServerLog].[ProcSet] as ps on ps.ID= pc.ProcSetID
				      left join [#K2ServerLog#].[ServerLog].[Worklist] as w  on p.ID=w.ProcInstID and w.Status=0
			        left join [#K2ServerLog#].[ServerLog].[ActInstDest] as ait  on ait.ID=w.ActInstDestID and ait.ProcInstID=w.ProcInstID
				      left join [#K2ServerLog#].[ServerLog].[ActInst] as ai on ai.ProcInstID= w.ProcInstID and ai.ID=ait.ActInstID
				      left join [#K2ServerLog#].[ServerLog].[Act] as a on a.ID =ai.ActID 
              left join [dbo].[Configuration_ProcessSet] as cps on ps.FullName COLLATE Chinese_PRC_CI_AS =cps.ProcessFullName
    where p.id={0} 
		]]>
  </Query>
  <!-- ./ZaaS.KStar->WorkflowConfiguration -->

  <!-- aZaaS.KStar->Report  -->
  <Query Key="SQL_WorkflowReport1_GetMasterData">
    <![CDATA[
    
                select 
	                FullName as ProcessFullname,
	                isnull([2],0) + isnull([3],0) as TotalCount , 
	                isnull([2],0) as RunningCount, 
	                isnull([3],0) as CompletedCount
                from 
                (
	                SELECT s.FullName,i.Status,count(*) tcount
	                  FROM [#K2ServerLog#].[ServerLog].[ProcInst] i 
		                inner join [#K2ServerLog#].[ServerLog].[Proc] c 
			                on i.ProcID = c.id
		                inner join [#K2ServerLog#].[ServerLog].[ProcSet] s
			                on c.ProcSetID = s.id
	                group by s.FullName,i.Status
                )As T 
                PIVOT(sum(T.tcount) for T.Status in([2],[3])) as C
    ]]>
  </Query>
  <Query Key="SQL_WorkflowReport1_GetItemsData">
    <![CDATA[
    select 
	                0,
	                ActivityName ,
	                isnull([2],0) + isnull([3],0) + + isnull([4],0) as TotalCount , 
	                isnull([2],0) as RunningCount, 
	                isnull([3],0) as ExpiredCount,
	                isnull([4],0) as CompletedCount
                from 
                (
	                SELECT a.Name as ActivityName,ai.Status,count(*) tcount
	                FROM [#K2ServerLog#].[ServerLog].[ActInst] ai
		                inner join [#K2ServerLog#].[ServerLog].[Act] a
			                on ai.ActID = a.ID
		                inner join [#K2ServerLog#].[ServerLog].[Proc] c
			                on a.ProcID = c.ID
		                inner join [#K2ServerLog#].[ServerLog].[ProcSet] s
			                on c.ProcSetID = s.id
	                where s.FullName = N'{0}'
	                group by a.Name,ai.Status
                )As T 
                PIVOT(sum(T.tcount) for T.Status in([2],[3],[4])) as C
                order by 3 desc
    ]]>
  </Query>
  <Query Key="SQL_WorkflowReport2_GetMasterData">
    <![CDATA[
     SELECT
                            s. FullName  as ProcessFullname,
                            avg( datediff(SECOND , StartDate,CASE WHEN i.StartDate = i.FinishDate THEN GETDATE ()
                            ELSE i . FinishDate END )) as avg_consuming_second , count(*) as procinst_count
                        FROM [#K2ServerLog#] .[ServerLog] . [ProcInst] i
                            inner join [#K2ServerLog#] . [ServerLog] .[Proc] c
                                    on i .ProcID = c . id
                            inner join [#K2ServerLog#] . [ServerLog] .[ProcSet] s
                                    on c .ProcSetID = s . id
                        group by FullName
                        order by 2 desc
    ]]>
  </Query>
  <Query Key="SQL_WorkflowReport2_GetActInstData">
    <![CDATA[
    SELECT
                             a.Name as ActivityName,
                            avg(datediff (SECOND , ais .StartDate, CASE WHEN ais. StartDate = ais.FinishDate THEN GETDATE ()
                        ELSE ais.FinishDate END)) as avg_consuming_second
                      FROM [#K2ServerLog#].[ServerLog] .[ActInstSlot] ais
                            inner join [#K2ServerLog#]. [ServerLog]. [ActInst] ai
                                   on ais .ProcInstID = ai . ProcInstID
                                          and ais .ActInstID = ai . ID
                            inner join [#K2ServerLog#]. [ServerLog]. [Act] a
                                   on ai .ActID = a . ID
                            inner join [#K2ServerLog#]. [ServerLog]. [Proc] pc
                                   on a .ProcID = pc . ID
                            inner join [#K2ServerLog#]. [ServerLog]. [ProcSet] ps
                                   on pc .ProcSetID = ps . ID
                    where ps .FullName =N'{0}' 
                    group by a. Name
                    order by 2 desc
    ]]>
  </Query>
  <Query Key="SQL_WorkflowReport2_GetActInstSlotData">
    <![CDATA[
    SELECT
                            ais.[User] ,
                            avg(datediff (SECOND , ais .StartDate, CASE WHEN ais. StartDate = ais.FinishDate THEN GETDATE ()
                        ELSE ais.FinishDate END)) as avg_consuming_second
                      FROM [#K2ServerLog#].[ServerLog] .[ActInstSlot] ais
                            inner join [#K2ServerLog#]. [ServerLog]. [ActInst] ai
                                   on ais .ProcInstID = ai . ProcInstID
                                          and ais .ActInstID = ai . ID
                            inner join [#K2ServerLog#]. [ServerLog]. [Act] a
                                   on ai .ActID = a . ID
                            inner join [#K2ServerLog#]. [ServerLog]. [Proc] pc
                                   on a .ProcID = pc . ID
                            inner join [#K2ServerLog#]. [ServerLog]. [ProcSet] ps
                                   on pc .ProcSetID = ps . ID
                    where ps .FullName = N'{0}'
                    and a .Name = N'{1}'
                    group by ais. [User]
                    order by 2 desc
    ]]>
  </Query>
  <!-- ./aZaaS.KStar->Report  -->

</Queries>