<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
    <section name="userAuthProvider" type="aZaaS.KStar.Authentication.UserAuthProviderSection, aZaaS.KStar" /> 
  </configSections>
  <connectionStrings>
    
    <!-- KStar Portal Connection Settings -->
    <add name="FxDB_FileTransfer" providerName="System.Data.SqlClient" connectionString="Data Source=127.0.0.1;Initial Catalog=aZaaS.Framework;Persist Security Info=True;User ID=sa;Password=K2pass!;" />
    <add name="aZaaSKStar" providerName="System.Data.SqlClient" connectionString="Data Source=127.0.0.1;Initial Catalog=aZaaS.KStar;Persist Security Info=True;User ID=sa;Password=K2pass!;" />
    <add name="K2DB" providerName="System.Data.SqlClient" connectionString="Data Source=127.0.0.1;Initial Catalog=K2;Persist Security Info=True;User ID=sa;Password=K2pass!;" />
    <add name="KSTARService" providerName="System.Data.SqlClient" connectionString="Data Source=127.0.0.1;Initial Catalog=KSTARService;Persist Security Info=True;User ID=sa;Password=K2pass!;" />
    <add name="aZaaSFramework" providerName="System.Data.SqlClient" connectionString="Data Source=127.0.0.1;Initial Catalog=aZaaS.Framework;Persist Security Info=True;User ID=sa;Password=K2pass!;" />
    <add name="aZaaSForm" providerName="System.Data.SqlClient" connectionString="Data Source=127.0.0.1;Initial Catalog=aZaaS.KStarForm;Persist Security Info=True;User ID=sa;Password=K2pass!;" />
    
    <!-- KStarForm Sample Connection Settings -->
    <add name="BusinessTripDBContext" providerName="System.Data.SqlClient" connectionString="Data Source=127.0.0.1;Initial Catalog=aZaaS.KStar_BusinessTripBizDB;Persist Security Info=True;User ID=sa;Password=K2pass!;" />
    <!-- Other Sample's connection etc... -->
    
    <add name="KStarEntities" connectionString="metadata=res://*/Models.KStarModel.csdl|res://*/Models.KStarModel.ssdl|res://*/Models.KStarModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=aZaaS.KStar;persist security info=True;user id=sa;password=K2pass!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KStarFormEntitiy" connectionString="metadata=res://*/Models.KStarFormModel.csdl|res://*/Models.KStarFormModel.ssdl|res://*/Models.KStarFormModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=aZaaS.Framework;persist security info=True;user id=sa;password=K2pass!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BasisEntityContainer" connectionString="metadata=res://*/Models.BasisEntity.BasisEntity.csdl|res://*/Models.BasisEntity.BasisEntity.ssdl|res://*/Models.BasisEntity.BasisEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=aZaaS.Framework;persist security info=True;user id=sa;password=K2pass!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <userAuthProvider xmlns="azaas.kstar" defaultProvider="dev" userExistsValidation="true">
    <authProviders>
      <authProvider name="dev" assemblyType="aZaaS.KStar.Web.AuthProviders.DevUserAuthProvider,aZaaS.KStar.Web">
        <parameters>
          <parameter key="Domain" value="Denallix" />
        </parameters>
      </authProvider>
      <authProvider name="domain" assemblyType="aZaaS.KStar.Web.AuthProviders.DomainUserAuthProvider,aZaaS.KStar.Web">
        <parameters>
          <parameter key="Domain" value="Denallix" />
          <parameter key="HostServer" value="127.0.0.1" />
          <parameter key="ServiceAccount" value="Administrator" />
          <parameter key="ServicePassword" value="K2pass!" />
        </parameters>
      </authProvider>
      <authProvider name="forms" assemblyType="aZaaS.KStar.Web.AuthProviders.FormsUserAuthProvider,aZaaS.KStar.Web">
        <parameters>
          <parameter key="ConnectionString" value="Data Source=127.0.0.1;Initial Catalog=aZaaS.KStar;Persist Security Info=True;User ID=sa;Password=K2pass!;" />
        </parameters>
      </authProvider>
      <authProvider name="k2" assemblyType="aZaaS.KStar.Web.AuthProviders.K2UserAuthProvider,aZaaS.KStar.Web">
        <!--<parameters>
          <parameter key="K2SecurityLabel" value="K2"/>
          <parameter key="K2SQLSecurityLabel" value="K2SQL"/>
        </parameters>-->
      </authProvider>      
    </authProviders>
  </userAuthProvider>

    <!-- Autofac Components 
      & Services Registration  Setting -->
  <autofac>
    <components />
    <modules />
  </autofac>
  
  <appSettings>
    <!-- Basic Mvc Settings -->
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!-- KStar Multi-tenant Setting -->
    <add key="MutilTenant" value="false" />
    
    <!-- Framework Connection Setting -->
    <add key="ConnectionString" value="Data Source=127.0.0.1;Initial Catalog=aZaaS.Framework;Persist Security Info=True;User ID=sa;Password=K2pass!;" />
    <add key="OAonnectionString" value="Data Source=127.0.0.1;Initial Catalog=OA_Ehr_Mid;Persist Security Info=True;User ID=sa;Password=K2pass!;" />
    <add key="EhrConnectionString" value="Data Source=127.0.0.1;Initial Catalog=EHR821_test;Persist Security Info=True;User ID=larry;Password=larry" />
    
    <!--User's NameFormatter:{lastname} {firstname} {username}-->
    <add key="UserNameFormatter_zh-CN" value="{lastname} {firstname}" />
    <add key="UserNameFormatter_en-US" value="{lastname} {firstname}" />
    <add key="UserNameFormatter_zh-TW" value="{lastname}^{firstname}" />

    <!--运行环境，开发，生产 Development-->
    <add key="Enviroment" value="Development" />
    
    <!-- KStar Workflow Engine & Server Settings -->
    <add key="WorkFlowEngine" value="K2" />
    <add key="ServerName" value="127.0.0.1" />
    <add key="WindowDomain" value="Denallix" />
    <add key="ClientPort" value="5252" />
    <add key="ServerPort" value="5555" />
    <add key="LoginUser" value="Administrator" />
    <add key="LoginPassword" value="K2pass!" />
    <!-- AuthType 0:Windows 1:Form-->
    <add key="AuthType" value="1" />
    <add key="SecurityLabelName" value="K2" />

    <add key="LDAPUrl" value="LDAP://DC=DENALLIX,DC=COM" />

    <add key="ReturnUrl" value="http://k2.denallix.com:89/"/>
    <add key="SmartformIntegrated" value="true" />
    
	<add key="ViewFlowUrl" value="http://k2.denallix.com:801/ViewFlow/ViewFlowSL.aspx" />
	<!--
	<add key="ViewFlowUrl" value="http://k2.denallix.com:/ViewFlow/ViewFlow.aspx" />-->
    <add key="K2IdentityLoginUrl" value="http://k2.denallix.com/Identity/sts/Forms/Account/Login" />
    <add key="K2SmartformLogoutUrl" value="http://k2.denallix.com/Designer/_trust/Logout.aspx" />

    <!-- 自定义角色上传目录/部署目录 -->
    <add key="CustomRole_UploadDir" value="C:\Application\KStar-master-project\KStar\aZaaS.KStar.Web\CustomRole\Upload_Dir" />
    <add key="CustomRole_DllDir" value="C:\Application\KStar-master-project\KStar\aZaaS.KStar.Wcf\CustomRoles" />
    
    <!--KStarForm Settings -->
    <!--默认审批备注-->
    <add key="DefaultApprovalComment" value="无" />
    <!-- 附件文件扩展名（可选），比如jpg;png;gif -->
    <add key="KSTARFORM:AttachmentExtFilter" value="" />
    <!--  null：默认允许所有扩展名 -->
    <!-- 附件文件类型 [MIME Type]（可选），比如：* 或者image/* text/* -->
    <add key="KSTARFORM:AttachmentAllowedTypes" value="*" />
    <!-- *：默认允许所有类型 -->
    <!-- 附件文件大小（可选） -->
    <add key="KSTARFORM:AttachmentMaxFileSize" value="0" />
    <!--  0：默认不限大小 -->
    <!-- 附件储存文件目录（可选），可按日期自动存档，支持属性有：
        FormId，ProcInstId，ProcessName，ActivityName，FileGuid，FileType etc. -->
    <add key="KSTARFORM:AttachmentStorageFolder" value="~/Uploads/Forms/{ProcessName}/{ActivityName}/{yyyy-MM-dd}/" />
    <!--KStarForm Attachment Settings -->
    <add key="StorgePath" value="/Attachment/{ProcessName}/{yyyyMM}/{Folio}/{GUID}-{OriginalFileName}" />
    <!-- CustomRole Paths Setting -->

    <add key="quartz_mailServer_Account" value="k2service@denallix.com" />
    <!-- K2 ErrorLog email address-->
    <add key="k2_error_receive_Account" value="k2service@denallix.com" />
    
    <!--httprequest 通用用户密码-->
    <add key="HttpRequestUser" value="Administrator" />
    <add key="HttpRequestPassword" value="K2pass!" />
    
    <!-- SSO Server URL -->
    <add key="ssoUrl" value="http://127.0.0.1:85" />
    
  </appSettings>
  <system.web>
    <httpModules>
      <add name="ErrorLog" type="aZaaS.KStar.ExceptionHandling.ExpcetionLogModule, aZaaS.KStar" />
    </httpModules>
    <customErrors mode="On" defaultRedirect="AppErrors">
      <error statusCode="404" redirect="NoSuchPage" />
      <error statusCode="403" redirect="NoAccessAllowed" />
    </customErrors>
    <compilation debug="true" targetFramework="4.5" />
    <!--  <authentication mode="Windows" />-->
    <authentication mode="Forms">
      <forms loginUrl="/Account/Login" name="KSTARASPXAUTH" timeout="480" defaultUrl="/" />
    </authentication>
    <httpRuntime executionTimeout="600" maxRequestLength="30720" useFullyQualifiedRedirectUrl="true" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true" requestValidationMode="2.0" />
    <pages controlRenderingCompatibilityVersion="4.0" validateRequest="false">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <security>
      <!--<authentication>
        <anonymousAuthentication enabled="true" />
        <windowsAuthentication enabled="false" />
      </authentication>-->
    </security>
    <staticContent>
      <remove fileExtension=".xap" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".xap" mimeType="application/x-silverlight-2" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
  </system.webServer> 
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper.Net4" publicKeyToken="be96cd2c38ef1005" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <location path="AccountUnavailable.html">
    <system.webServer>
      <security>
        <authentication>
          <anonymousAuthentication enabled="true" />
        </authentication>
      </security>
    </system.webServer>
  </location>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITokenService" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IProcessService">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://127.0.0.1:87/TokenService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ITokenService" contract="Passport.ITokenService"
        name="BasicHttpBinding_ITokenService" />
      <endpoint address="http://127.0.0.1:87/ProcessService.svc" binding="wsHttpBinding"
        bindingConfiguration="WSHttpBinding_IProcessService" contract="ProcessServiceReference.IProcessService"
        name="WSHttpBinding_IProcessService" />
    </client>
  </system.serviceModel>
</configuration>