<!-- ./kstarform footer panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse"  aria-expanded="false" href="#_kstarform_footer_panel">
        附加信息
      </a>
    </h4>
  </div>
  <div id="_kstarform_footer_panel" class="panel-collapse collapse ">
    <div class="panel-body"> 

<h1 >附加信息</h1>

    </div>
  </div>
</div><!-- ./kstarform footer panel -->