@using aZaaS.KStar.Html;
@{
    ViewBag.Title = "_ProcessPermission";       
}
<div class="section">
    <div class="top-heading">
        <div class="top-title">通用报表权限设置</div>
    </div>
    <div class="fullwidget">
        <div id="ProcessPermissionSplitter" style="position: relative; height: 100%;">
            <div id="RoleTab">
                <div id="RoleList"></div>
            </div>
            <div id="ProcessTab" style=" visibility:hidden;height: 600px; width: 150px; overflow: auto; -webkit-overflow-scrolling: touch;">
                <div id="ProcessList"></div>
                <div class="operabar">
                    <div class="operamask"></div>
                    <button id="Process_Role_Save" class="k-button operacontent" style="width: 80px; text-align: center; display: block;">保存</button>
                    <div class="tips" style="color: green; text-align: center; visibility: hidden; display: block;">保存成功！</div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<script src="/JSResource/GetJavascriptResx?jsPageName=Maintenance_SeaCommonReportPermission" type="text/javascript"></script>*@
<script src="~/JS/seajs/sea.js"></script>
<script>
    seajs.use("/JS/Maintenance/_Sea_CommonReportPermission", function (init) {
        debugger;
        init();
        $(window).resize();
    });
</script>
