 <div class="form-group ">
     <label class="col-sm-2 control-label" >随行人员:</label>
     <div class="col-sm-10 kstar-control" id="txt_entourage" title="随行人员">
         <textarea class="form-control" name="Entourage" data-bind="value: Title1" rows="3" placeholder="随行人员，多人用逗号隔开"></textarea>

     </div>
 </div>


 <div class="form-group ">
     <label class="col-sm-2 control-label">外出事由:</label>
     <div class="col-sm-10 kstar-control" id="txt_travelreason" title="外出事由">
         <textarea class="form-control" name="TravelReason" data-bind="value: Title2" rows="3" placeholder="外出事由"></textarea>
     </div>
 </div>
