<?xml version="1.0" encoding="utf-8" ?>
<K2DB AllInOne="K2">
  <DB Name="K2Categories" Map="K2Categories"/>
  <DB Name="K2Dependencies" Map="K2Dependencies"/>
  <DB Name="K2EnvironmentSettings" Map="K2EnvironmentSettings"/>
  <DB Name="K2EventBus" Map="K2EventBus"/>
  <DB Name="K2EventBusScheduler" Map="K2EventBusScheduler"/>
  <DB Name="K2HostServer" Map="K2HostServer"/>
  <DB Name="K2Server" Map="K2Server"/>
  <DB Name="K2ServerLog" Map="K2ServerLog"/>
  <DB Name="K2SmartBox" Map="K2SmartBox"/>
  <DB Name="K2SmartBroker" Map="K2SmartBroker"/>
  <DB Name="K2SQLUM" Map="K2SQLUM"/>
  <DB Name="K2WebDesigner" Map="K2WebDesigner"/>
  <DB Name="K2WebWorkflow" Map="K2WebWorkflow"/>
  <DB Name="K2Workspace" Map="K2Workspace"/>
</K2DB>