<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="autofac" type="Autofac.Configuration.SectionHandler, Autofac.Configuration" />
  </configSections>

  <connectionStrings>

    <!-- KStar Internal Connection Settings -->
    <add name="aZaaSKStar" providerName="System.Data.SqlClient" connectionString="Data Source=127.0.0.1;Initial Catalog=aZaaS.KStar;Persist Security Info=True;User ID=sa;Password=K2pass!;" />
    <add name="K2DB" providerName="System.Data.SqlClient" connectionString="Data Source=127.0.0.1;Initial Catalog=K2;Persist Security Info=True;User ID=sa;Password=K2pass!;" />
    <add name="KSTARService" providerName="System.Data.SqlClient" connectionString="Data Source=127.0.0.1;Initial Catalog=KSTARService;Persist Security Info=True;User ID=sa;Password=K2pass!;" />
    <add name="aZaaSFramework" providerName="System.Data.SqlClient" connectionString="Data Source=127.0.0.1;Initial Catalog=aZaaS.Framework;Persist Security Info=True;User ID=sa;Password=K2pass!;" />

    <!-- Your Connection Settings -->

  </connectionStrings>

  <appSettings>

    <!-- Base Project Settings -->
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="Message" value="This is message!" />

    <!-- Framework Connection Setting -->
    <add key="ConnectionString" value="Data Source=127.0.0.1;Initial Catalog=aZaaS.Framework;Persist Security Info=True;User ID=sa;Password=K2pass!;" />

    <!-- KStar Wcf AuthType: You can ignore that -->
    <add key="AuthType" value="Windows" />

    <!-- KStar Workflow Engine & Server Settings -->
    <add key="ServerName" value="127.0.0.1" />
    <add key="WindowDomain" value="Denallix" />
    <add key="ClientPort" value="5252" />
    <add key="ServerPort" value="5555" />
    <add key="LoginUser" value="Administrator" />
    <add key="LoginPassword" value="K2pass!" />
    <add key="SecurityLabelName" value="K2" />
    <add key="K2ServiceAccount" value="Denallix\administrator" />

    <!-- KStar Wcf Default Configs:This is optional -->
    <add key="SkipApprovalLogIndex" value="1" />
    <add key="DefaultSkipActionName" value="SKIP" />
    <add key="DefaultSystemAccount" value="administrator" />
    <add key="DefaultSystemAccountName" value="Denallix" />

  </appSettings>

  <!-- Autofac Components & Services Registration  Setting -->
  <autofac>
    <components />
    <modules />
  </autofac>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <hostingEnvironment shadowCopyBinAssemblies="false" />
    <authentication mode="Windows" />
  </system.web>

  <!-- Reference Wcf Service -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITenantDatabaseService" />
      </basicHttpBinding>
      <wsHttpBinding>
        <binding>
          <security mode="None"></security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.2.159:9090/TenantDatabaseService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITenantDatabaseService" contract="TenantDbService.ITenantDatabaseService" name="BasicHttpBinding_ITenantDatabaseService" />
    </client>
    <services>
      <service behaviorConfiguration="metadataBehavior" name="aZaaS.KStar.Wcf.ProcessService">
        <endpoint binding="wsHttpBinding" contract="aZaaS.KStar.Wcf.IProcessService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:87/ProcessService" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="metadataBehavior" name="aZaaS.KStar.Wcf.TemplateService">
        <endpoint binding="wsHttpBinding" contract="aZaaS.KStar.Wcf.ITemplateService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:87/TemplateService" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>


    <serviceHostingEnvironment minFreeMemoryPercentageToActivateService="0" aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
    <staticContent>
      <remove fileExtension=".sdk" />
      <remove fileExtension=".xap" />
      <mimeMap fileExtension=".xap" mimeType="application/x-silverlight-2" />
      <mimeMap fileExtension=".sdk" mimeType="application/x-ms-application" />
    </staticContent>
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
