<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITokenService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.2.113:82/TokenService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITokenService"
                contract="Passport.ITokenService" name="BasicHttpBinding_ITokenService" />
        </client>
    </system.serviceModel>
</configuration>